.heading
{
    top: 21px;
    width: 407px;
    position: absolute;
    left: 206px;
}

.heading h1{
color:  #a72c2c;
font-size: 45px;
}

.links{
    position: absolute;
    left: 49rem;
    top: 38px;
}
.links ul li
{
    display: inline;
    list-style: none;
    
}
.links ul li a
{
    text-decoration: none;
    padding: 20px;
    font-size: 30px;
  
}